<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta data-n-head="ssr" data-hid="theme-color" name="theme-color" content="#1778ff" />
    <meta name="keywords" content="discord, r2" />
    <meta property="og:image" content="<%=user.pfp%>" />
    <meta name="title" content="R2+ <%= user.name %>" />
    <meta name="description" content="Perfil de <%= user.name %>" />
    <title>R2+ <%= user.name %></title>
    <link id="favicon" rel="icon" href="assets/R2_Logo.png" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe60fb8790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <%- include('partials/loading.ejs') %>

    <% if(id === json.id) {%>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close"><i class="fa-solid fa-xmark"></i></span>
            <h1>Foto de perfil: </h1>
            <hr>
            <img class="pfp iconcenter" src="<%=user.pfp%>">
            <div class="ff">
                <form name="myForm" onsubmit="pfpval()" action="/pfp" method="POST" required>
                    <div class="m-c"> <i class="fa-solid fa-user-pen"></i> <input class="imgc" type="text" id="avatar"
                            name="avatar" placeholder="avatar link">
                        <button type="submit" class="send"> Enviar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %>

    <%- include('partials/navbar.ejs') %>

    <%- include('partials/logout.ejs') %>

    <% let img =  user.banner || user.pfp %>

    <div class="bp" style="background-image: url(<%=img%>)">
        <div class="bg" style="
        background-image: linear-gradient(
          0deg,
          rgb(0, 0, 0) 0%,
          rgba(0, 0, 0, 0.597) 65%,
          rgba(238, 234, 255, 0) 90%
        )">
            <% if(id === json.id) {%>
            <form name="formbanner" action="/banner" method="POST" onsubmit="validateForm()" required>
                <div class="imgup"> <i class="fa-solid fa-user-pen"></i> <input class="imgc" type="text" id="bannerlink"
                        name="bannerlink" placeholder="banner link"> <button type="submit" class="nobg"> <i
                            class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </form>
            <% } %>
        </div>
        <div>
            <div class="icon">
                <img class="pfp" src="<%=user.pfp%>">
                <% if(id === json.id) {%>
                <button id="myBtn" class="pfp-c"> <i class="fa-solid fa-camera-rotate"></i> </button>
                <% } %>
            </div>
            <h1 class="name"><%= user.name %></h1>
        </div>
    </div>

    <div class="sec2">

        <div class="cards">
            <% if(user.id != "r2plus") {%>
            <a href="<%= `https://discord.com/users/${user.id}` %>">
                <div class="dsc">
                    <i class="fab fa-discord"></i> discord de <%= user.name%>
                </div>
            </a>
            <% } %>

            <div class="dsc red">

                <%
            let tags = ["membro"]

            if(user.id == "240269142848962560"){ tags.push("dono");}
            if(user.id == "692910323383926865"){ tags.push("dono");}
            if(user.id == "759081738432938054"){ tags.push("dono");}
            if(user.id == "r2plus"){ tags.push("oficial");}

            if(resu) tags.push("criador");
                        
            %>

                <i class="fas fa-tags"></i><%= ` tags: ${tags.join(" | ")}` %>
            </div>

        </div>
    </div>

    <div class="sec2">

        <%if(resu){ %>

        <h1 class="h1b">Séries:</h1>
        <div class="container left">

            <% result.series.forEach(series => { %>

            <a href="<%= series.link %>">
                <div class="server" data-aos="zoom-in" data-aos-offset="-100">
                    <img class="server-icon" src=<%= `https://i3.ytimg.com/vi/${videoid(series.link)}/hqdefault.jpg` %>>

                    <%if(!req.session.bearer_token){} else { %>
                    <form action="/fav" method="POST" />
                    <input type="hidden" name="serie" value="<%=series.nome%>" />
                    <input class="star" onchange="this.form.submit()" name="fav" type="checkbox" title="favoritar"
                        <% if(user.favs.includes(series.nome)){ %> checked <%}%> > </form> <%}%> <div
                        class="server-name">
                    <%= series.nome %>
                </div>
            </a>
        </div>

        <% }) %>

    </div>

    <% } %>

    <%if(user.favs.length !== 0){ %>

    <h1 class="hs2" style="margin-top: 59px !important">Favoritos:</h1>
    <div class="container left">

        <% user.favs.forEach(series => { const serie = serief(series); %>

        <a href="<%= serie.link %>">
            <div class="server" data-aos="zoom-in" data-aos-offset="-100">
                <img class="server-icon" src=<%= `https://i3.ytimg.com/vi/${videoid(serie.link)}/hqdefault.jpg` %>>

                <%if(!req.session.bearer_token){} else { %>
                <form action="/fav" method="POST" />
                <input type="hidden" name="serie" value="<%=serie.nome%>" />
                <input class="star" onchange="this.form.submit()" name="fav" type="checkbox" title="favoritar"
                    <% if(user.favs.includes(serie.nome)){ %> checked <%}%> > </form> <%}%> <div class="server-name">
                <%= serie.nome %>
            </div>
        </a>
    </div>

    <% }) %>
    </div>
    <% } %>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>
    <script>
        AOS.init();
    </script>

    <script>

        function validateForm() {
            var z = document.forms["formbanner"]["bannerlink"].value;
            if (z == "" || z == null) {
                return alert("Preencha o campo com o link da imagem que queres como banner!");
            }
        }

        function pfpval() {
            var z = document.forms["myForm"]["avatar"].value;
            if (z == "" || z == null) {
                return alert("Preencha o campo com o link da imagem que queres como avatar!");
            }
        }
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>