<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta data-n-head="ssr" data-hid="theme-color" name="theme-color" content="#1778ff" />
    <meta name="keywords" content="discord, r2" />
    <meta property="og:image"
        content="https://yt3.ggpht.com/SGe52kWX29ouHGHunvNcAVofYMHhCy3RKsRvnDZX38wdBosOxhgtK_K3UdW4w3s0zOEEHrFfxA=s240-c-k-c0x00ffffff-no-rj" />
    <meta name="title" content="R2+ catálago" />
    <meta name="description" content="Assista agora mesmo as séries do catálago R2+!!" />
    <title>R2+ catálago</title>
    <link id="favicon" rel="icon" href="assets/R2_Logo.png" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe60fb8790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <%- include('partials/loading.ejs') %>

    <% function thumb(nmbr){ return {
        "thumb": `https://i3.ytimg.com/vi/${videoid(inv[nmbr].series[0].link)}/maxresdefault.jpg`,
        "nome": inv[nmbr].series[0].nome
    } } %>

    <%- include('partials/navbar.ejs') %>

    <%- include('partials/logout.ejs') %>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="https://media.discordapp.net/attachments/817560913292427284/962834147926237234/zyro-image_4.png"
                style="width:100%">
            <div class="text">O Fantasma Negro - em breve</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="./assets/ajornada2.png" style="width:100%">
            <div class="text">A jornada - 2° temporada em breve </div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="./assets/bg2.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="<%=thumb(2).thumb%>" style="width:100%">
            <div class="text"><%=thumb(2).nome%><a href="/serie?serieu=<%=thumb(0).nome%>"><button
                        class="assistir">Assistir</button></a></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="<%=thumb(0).thumb%>" style="width:100%">
            <div class="text"><%=thumb(0).nome%><a href="/serie?serieu=<%=thumb(0).nome%>"><button
                        class="assistir">Assistir</button></a></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>

    <!-- fim do slideshow -->



    <div class="series">
        <div class="toop">
            <h1>Séries disponíveis: </h1>
            <a href="/serie?serieu=<%= titulo.nome %>">
                <button class="rndm-b" href="/serie?serieu=<%= titulo.nome %>">
                    <i class="fas fa-dice"></i> Machinima aleatório
                </button>
            </a>
        </div>
        <div class="container">
            <% inv.forEach(canal => { %>
            <% canal.series.forEach(serie => { %>

            <a href="/serie?serieu=<%= serie.nome %>">
                <div class="server <% if(titulo.extra === "true") {%>r2extra <% } %>" data-aos="zoom-in"
                    data-aos-offset="-100">
                    <img class="server-icon" src=<%= `https://i3.ytimg.com/vi/${videoid(serie.link)}/hqdefault.jpg` %>>

                    <%if(!req.session.bearer_token){} else { %>
                    <form action="/fav" method="POST" />
                    <input type="hidden" name="serie" value="<%=serie.nome%>" />
                    <input class="star" onchange="this.form.submit()" name="fav" type="checkbox" title="favoritar"
                        <% if(user.favs.includes(serie.nome)){ %> checked <%}%> > </form> <%}%> <div
                        class="server-name">
                    <%= serie.nome %>
                </div>
        </div>
        </a>

        <% })%>
        <% }) %>
    </div>
    </div>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>